<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/about.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="CSS/mobile_500.css">
    <link rel="shortcut icon" href="Favicon/favicon.ico" type="image/x-icon">
    <script defer src="JS/anim.js"></script>
</head>
<body>
    <%- include('header'); -%>
    <div id="about">
        <section id="left">
            <div class="op0" id="l1">
                <img src="img/about1.png" alt="">
                <div id="slant2"></div>
            </div>
            <div class="blankBox"></div>
            <div class="op0" id="l2">
                <img src="img/about2.png" alt="">
                <div id="slant2"></div>
            </div>
            <div class="blankBox" id="lb2"></div>
            <div class="op0" id="l3">
                <img src="img/about3.jpg" alt="">
                <div id="slant2"></div>
            </div>
        </section>
        <section id="right">
            <div class="blankBox"></div>
            <div class="aboutText op0">
                <div class="slant2"></div>
                <div class="aim">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baking everything is our specialty. Love consists of four letters, and so does the word ‘bake’! and this is the most delightful slice of paradise. There is absolutely nothing our bakery does not cater to. At ‘A-One Bakery ’ we follow a fairly simple philosophy – offer a product of outstanding quality and ensure customer loyalty. The simplicity of that principle is backed up by a lot of hard work and years of experience.</p>
                </div>
            </div>
            <div class="blankBox" id="r2"></div>
            <div class="aboutText op0">
                <div class="slant2"></div>
                <div class="aim">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There's this notion that to grow a business, you have to be ruthless. But we know there's a better way to grow. One where what's good for the bottom line is also good for customers. We believe businesses can grow with a conscience, and succeed with a soul — and that they can do it with inbound.That's why we've created an ecosystem uniting software, education, and community to help businesses grow better every day.</p>
                </div>
            </div>
        </section>
    </div>
    <%- include('footer'); -%>
    <script src="JS/jq.js"></script>
    <script src="JS/index.js"></script>
</body>
</html>