<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="footer">
        <div id="orderNow">
            <h1>Order Now</h1>
            <div class="underline"></div>
        </div>
        <div id="followUs">
            <h1>Follow Us</h1>
            <div class="underline"></div>
        </div>
        <div id="owner">
            <h1>Our Location</h1>
            <div class="underline"></div>
            <form action="/" method="post">
                <button type="submit" name="button" value="upload">Upload Item</button>
                <button type="submit" name="button" value="delete">Delete Item</button>
            </form>
        </div>
    </div>
</body>
</html>