<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="CSS/style.css">
  <link rel="stylesheet" href="CSS/home.css">
  <link rel="stylesheet" media="screen and (max-width: 500px)" href="CSS/mobile_500.css">
  <link rel="shortcut icon" href="Favicon/favicon.ico" type="image/x-icon">
  <script defer src="JS/anim.js"></script>
</head>

<body>
  <div id="home">
    <%- include('header'); -%>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <picture>
              <source media="(min-width: 500px)" srcset="img/img1.jpg">
              <img src="img/mobimg1.png" class="d-block w-100" alt="...">
            </picture>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <picture>
              <source media="(min-width: 500px)" srcset="img/img2.png">
              <img src="img/mobimg2.jpg" class="d-block w-100" alt="...">
            </picture>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <picture>
              <source media="(min-width: 500px)" srcset="img/img3.png">
              <img src="img/mobimg3.jpg" class="d-block w-100" alt="...">
            </picture>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div id="content">
        <div class="line"></div>
        <div class="box op0" id="findUs">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30439.809982126455!2d72.77156777216396!3d21.18345270947758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1673527687436!5m2!1sen!2sin"
            width="300" height="300" style="border:0; border-radius: 20px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="text">
            <p>FIND US AT : <br> A-one cake shop, Jogani Nagar, Palanpur Patia, Surat, Gujarat 395009 <br> <a
                target="_blank" href="https://goo.gl/maps/w6rdN6aATVjXFKF77" style="color: #231709;">Click</a> on the
              map to get complete location.</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="box op0" id="homeCake">
          <div class="text">
            <p>At A-one Bakery we aim at sustainable growth and profitability by meeting the needs of its customers
              <span class="hide">with products that are distinctive in terms of both quality and consumer
                satisfaction.</span><br><span style="font-size: 22px;"><b>Your dream, Our Cake.</b></span></p>
          </div>
          <img src="img/home1.jpg" alt="">
        </div>
        <div class="line"></div>
        <div class="box op0" id="homePastry">
          <img src="img/pastry.webp" alt="">
          <div class="text">
            <p><span class="hide">A subtle combination of traditions and trends, our extensive collection of
                greatly appetizing baked goods and confections delights the senses of all
                age groups and people from different walks of life.</span> The secret of our excellence
              lies in the meticulous care and detailed craft that goes into each and every one
              of our products.</p>
          </div>
        </div>
        <div class="line"></div>
      </div>
  </div>
  <%- include('footer'); -%>
    <script src="JS/jq.js"></script>
    <script src="JS/index.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
</body>

</html>