<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/home.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="CSS/mobile_style.css">
</head>
<body>
    <div id="threeLines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="" id="list">
        <div class="blank"></div>
        <ul>
            <li class="item"><a href="about">About Us</a></li>
            <li class="item"><a href="contact">Contact Us</a></li>
            <li class="item" id="login"><a href="">Log in</a></li>
            <li class="item" id ="signup"><a href="">Sign up</a></li>
        </ul>
    </div>
    <div id="home">
        <nav id="navbar">
            <ul>
                <li class="item"><a href="products">Our Products</a></li>
                <li class="item hide"><a href="about">About Us</a></li>
                <li class="item hide"><a href="contact">Contact Us</a></li>
                <li class="item hide" id="login"><a href="">Log in</a></li>
                <li class="item hide" id ="signup"><a href="signUp">Sign up</a></li>
            </ul>
        </nav>
        <section id="title">
            <h1>A-One Bakery</h1>
            <p>Sweetness and Delight in Every Bite</p>
        </section>
    </div>

    <script src="JS/jq.js"></script>
    <script src="JS/index.js"></script>
</body>
</html>