<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="CSS/mobile_500.css">
</head>
<body>
    <%- include('header'); -%>
    <form action="/user/select" id="select" method="post">
        <button type="submit" name="button" value="upload"> Upload Cake &nbsp;&nbsp;into Products Page</button>
        <button type="submit" name="button" value="delete"> Remove Cake from Products Page</button>
    </form>
    <%- include ('footer')-%>
    <script src="JS/jq.js"></script>
    <script src="JS/index.js"></script>
</body>
</html>