.hide{
    display: none;
}
#title h1{
    font-size: 45px;
}
#title p{
    font-size: 15px;
}
#title::before{
    height: 25rem;
    background: url(../img/mob_bg.jpg);
}
#threeLines{
    width: 50px;
    height: 50px;
    /* border: solid 4px rgb(0, 0, 0); */
    position: absolute;
    right: 20px;
    top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.lineL{
    width: 30px;
    height: 4px;
    margin: 3px;
    background-color: rgb(0, 0, 0);
}
#list{
    position: absolute;
    right: 0;
    top: 0px;
    width: 200px;
    display: none;
}
.flex{
    display: flex
    !important;
    flex-direction: column;
    /* background-color: rgba(88, 113, 239, 0.472); */
    background-color: #432616e6;
    z-index: 10;
}
.blank{
    width: 100%;
    height: 80px;
}
#list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
}
#list ul li{
    list-style: none;
    text-align: center;
    margin: 22px;
}
#list ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: centers;
    padding: 5px;
    font-size: 16px;
}

/* Footer */
#footer{
    flex-direction: column;
    min-height: 600px;
}
#orderNow{
    width: 100%;
    height: 200px;
}
#orderNow::before{
    display: none;
}
#followUs{
    width: 100%;
    height: 200px;
}
#followUs::before{
    display: none;
}
#location{
    width: 100%;
    height: 200px;
}
#location::before{
    display: none;
}

/* Products Page */
#filters form h2{
    font-size: 20px;
}
.options{
    flex-direction: column;
    align-items: center;
}
.options button{
    font-size: 12px;
    margin: 10px 0px;
}
.cake{
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.cake:hover{
    width: 300px;
}
.cakeInfo{
    margin: 25px 0px;
    align-items: center;
}
.cakeInfo h2{
    text-align: center;
}
.cake img{
    width: 300px;
    height: 300px;
}

/* Home Page */
#carouselExampleAutoplaying {
    height: 400px;
    width: 100%;
}
.carousel-item img{
    width: 100%;
    object-fit: 100%;
}
.line {
    width: 200px;
    height: 4px;
    margin: 3px;
    background-color: rgb(0, 0, 0);
}
.box{
    flex-direction: column;
    margin: 20px 0px;
}
.box img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
#homeCake{
    flex-direction: column-reverse;
}
iframe {
    margin: 20px;
    margin-top: 0;
    height: 200px;
}
.text {
    width: 300px;
    height: 150px;
    margin: 5%;
}

/* upload / delete */
#ubox{
    width: 300px;
}
#uText input{
    font-size: 15px;
}