*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: abalone;
    src: url('../fonts/AbaloneSmile.ttf');
}
@font-face {
    font-family: katibeh;
    src: url('../fonts/Katibeh.ttf');
}
#navbar{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
#navbar ul{
    width: 95%;
    display: flex;
    margin: 0px 30px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    font-family: cursive;
    margin: 0px 10px;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    font-family: abalone;
}
#navbar ul li a:hover{
    color: aliceblue;
    background-color: black;
}
#threeLines{
    display: none;
}
#list{
    display: none;
}


#footer{
    width: 100%;
    height: 300px;
    display: flex;
}
#footer h1{
    font-family: katibeh;
    color: aliceblue;
    margin: 20px 40px;
}
.underline{
    width: 100px;
    height: 2px;
    margin: 0px 40px;
    background-color: aliceblue;
}
#orderNow{
    width: 33%;
    background-color: rgba(0, 0, 0, 0.782);
}
#followUs{
    width: 33%;
    background-color: rgba(36, 34, 34, 0.782);
}
#owner{
    width: 33%;
    background-color: rgba(0, 0, 0, 0.782);
}
#owner button{
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}