*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: abalone;
    src: url('../fonts/AbaloneSmile.ttf');
}
@font-face {
    font-family: katibeh;
    src: url('../fonts/Katibeh.ttf');
}
body{
    background-color: rgba(236, 239, 242, 0.609);
    overflow-x: hidden;
}
#navbar{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    background-color: rgba(236, 239, 242, 0.618);
}
#navbar img{
    height: 100%;
    margin-left: 30px;
}
#navbar ul{
    display: flex;
    margin: 0px 30px;
    margin-left: 0px;
    padding-left: 0px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    font-family: cursive;
    margin: 0px 10px;
}
#navbar ul li a{
    color: #431709;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    font-family: abalone;
    font-size: 24px;
}
#navbar ul li a:hover{
    color: aliceblue;
    background-color: #432616;
    transition: all 1s;
}
#threeLines{
    display: none;
}
#list{
    display: none;
}
#mobTitle{
    display: none;
}
#titleNmenu{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
#titleNmenu img{
    width: 540px;
}



#footer{
    width: 100%;
    height: 500px;
    display: flex;
    background: url(../img/footer_bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    margin-top: 40px;
}
#footer img{
    width: 100%;
}
#footer h1{
    font-family: katibeh;
    color: aliceblue;
    margin: 20px 40px;
}
#footer p{
    padding: 20px 40px;
    color: aliceblue;
    font-family: abalone;
    font-size: 20px;
}
#footer button{
    width: 100px;
    height: 40px;
    background-color: #431709;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
#footer button a{
    color: aliceblue;
    font-family: abalone;
    text-decoration: node;
    font-size: 20px;
}
.underline{
    width: 100px;
    height: 2px;
    margin: 0px 40px;
    background-color: aliceblue;
}
#icons{
    height: 200px;
    width: 200px;
}
/* #orderNow::before{
    background: linear-gradient(-45deg, #432616 16px, transparent 0), linear-gradient(45deg, #432616ef 16px, transparent 0);
    background-repeat: repeat-x;
    background-size: 22px 22px;
    content: "";
    display: block;
    position: relative;
    top: -22px;
    left: 0px;
    width: 100%;
    height: 32px;
}  */
#orderNow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin-top: 170px;
}
#followUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin-top: 170px;
}
#location{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin-top: 170px;
}
#location button{
    padding: 20px;
    margin: 40px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}

/*  upload / delete */
#location button{
    display: none;
}

#select{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#select button{
    width: 200px;
    padding: 20px;
    height: 120px;
    margin: 30px;
    color: aliceblue;
    font-size: 20px;
    background-color: #431709;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}