*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: abalone;
    src: url('../fonts/AbaloneSmile.ttf');
}
#navbar{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;

    position: relative;
}
#navbar ul{
    width: 95%;
    display: flex;
    margin: 0px 30px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    font-family: cursive;
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    font-family: abalone;
}
#navbar ul li a:hover{
    color: aliceblue;
    background-color: black;
}
#navbar::before{
    content: "";
    background-color: rgb(196, 188, 243);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -3;
    opacity: 0.6;
}
#threeLines{
    display: none;
}
#list{
    display: none;
}